.entitled {
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 100%;
    // margin-bottom: 50px;

    .details {
        color: white;
        padding: 18px;
        font-weight: 700;
        font-size: 30px;
        text-align: center;
        background-color: #012E3D;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        @media (max-width:320px) {
            font-size: 24px;
        }
    }

    .company {
        font-size: 20px;
        font-weight: 700;
        color: #cdcdcd;
        @media (max-width:320px) {
            font-size: 17px;
          }
    }

    .industry {
        margin-top: 25px;
    }

    .put {
        background-color: #ededed;
        width: 100%;
        height: 55px;
        border-radius: 10px;
        margin-top: -15px;

    }

    .Paras {
        margin-top: 25px;
        margin-bottom: 30px;
    }

    .Footer {
        margin-top: 60px;
        @media (max-width:768px) {
            margin-top: 0px;
            margin-bottom: 20px;
        }

        .brows {
            background-color: #012e3d;
            color: white;
            width: 100%;
            height: 55px;
            font-size: 20px;
            @media (max-width:320px) {
                font-size: 16px;
            }
        }

        .remove {
            background-color: #ab7070;
            color: white;
            width: 100%;
            height: 55px;
            font-size: 20px;
            @media (max-width:320px) {
                font-size: 16px;
            }
        }
    }
}